/* Light Color Palette */
$color-white: rgb(255, 255, 255);
$color-light-1: rgb(219, 219, 219);
$color-light-2: rgb(167, 167, 167);
/* Dark Color Palette */
$color-black: black;
$color-dark-1: rgb(24, 24, 24);
$color-dark-2: rgb(65, 65, 65);
$color-dark-3: rgb(94, 94, 94);
$color-dark-4: rgb(40, 40, 40);
$color-grey: rgb(63, 68, 75);
$color-transparent: transparent;
