@import "./song";
@import "./player";
@import "./library";
@import "./nav";
@import "./colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 1rem;
  color: $color-black;
}

h2 {
  color: $color-dark-2;
}

h3,
h4 {
  font-weight: 400;
  color: $color-dark-3;
}

.App {
  transition: all 0.5s ease;
  height: 100vh;
  background: white;
}

.library-active {
  margin-left: 0%;
}

/* Dark Theme */
.dark {
  background: $color-dark-1;

  h1,
  h2 {
    color: $color-light-1;
  }

  h3,
  h4 {
    color: $color-light-2;
  }
}
